body {
    background-color: #58ADE3;
}

div.block {
    padding-top: 10px;
}
div.main {
    margin-top: 100px;
    width: 88vw;
    margin-left: auto;
    margin-right: auto;
}

.btn-blue {
    color: #000000;
    background-color: #58ADE3;
    border-color: #000000;
}


h1.title {
    text-align : center;
}

img.round {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

@media (max-width: 700px) {
    img.round {
        width: 100px;
        height: 100px;
    }
}

p {
    text-align: center;
    margin-top: 15px;
}

div.social a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}